body {
    background-color:white;
    color:#000000;
    font:small verdana,arial;
    height:100%;
    margin:0;
    z-index:1;
}

#header {
	width:80%;
	height:20px;
	border-top:2px solid black;
	border-bottom:2px dotted black;
	background-color:#1c3053;
	border-bottom:1px solid #00B3B3;
	position:relative;
	z-index:99;

}

.header_box {
	width:40px;
	height:100%;
	border-left:1px solid blue;
	float:left;
}