<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MetaLiquid - %PAGETITLE%</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link rel="icon" type="img/png" href="/static/images/favicon32.png"/>
    <link rel="stylesheet" href="metaliquid/page/template/core.css" type= "text/css" media="all" />

</head>
  <body>
    %HEADER%
    %CLOUD%
  </body>
</html>
