<div id="header">
<a href="/"><img src="/static/images/header.png" alt="" id="header-img"></a>
%TABMENU%
<ul class="tabmenu">
		<li class="selected"><a href="/reddits/">Threads</a></li>
		<li><a href="/tags/">Forums</a></li>
		<li><a href="/logos/">Sections</a></li>
		<li>&nbsp;&nbsp;&nbsp;</li>
		<li><a href="/search">search</a></li>
		<li><a href="/stalk">stalk</a></li>
		<li><a href="/format">format</a></li>
		<li><a href="/monitor">monitor</a></li>
</ul>
<div id="header-bottom-right">
	Users Online: %USERSONLINE%
</div>
</div>